<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @coach.user_id %>
</p>

<p>
  <strong>Training:</strong>
  <%= @coach.training_id %>
</p>

<%= link_to 'Edit', edit_coach_path(@coach) %> |
<%= link_to 'Back', coaches_path %>
